<h1>Adding New Article</h1>

<%= link_to 'Back', articles_path %>

<section class="creating_article">

  <%= form_with(model: @article, local: true) do |form| %>
    <%= errors_any_helper(@article) %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>


</section>